<ul class="thumbnails" align="center">
  <li class="span6">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("g1.jpg")%>
      <h5>Madu,jack,pig,tamil</h5>
    </div>
  </li>
  <li class="span6">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("g8.jpg")%>
      <h5>Shiek,jose,me</h5>
    </div>
  </li>
  <li class="span6">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("g3.jpg")%>
      <h5>Darjeeling Iv</h5>
    </div>
  </li>
  <li class="span6">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("g4.jpg")%>
      <h5>Darjeeling Iv</h5>
    </div>
  </li>
  <li class="span6">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("g5.jpg")%>
      <h5>Darjeeling Iv</h5>
    </div>
  </li>
  <li class="span6">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("g6.jpg")%>
      <h5>Darjeeling Iv</h5>
    </div>
  </li>
  <li class="span6">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("g7.jpg")%>
      <h5>Darjeeling Iv</h5>
    </div>
  </li>
  <li class="span6">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("2.jpg")%>
      <h5>Otty </h5>
    </div>
  </li>
  <li class="span6">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("3.jpg")%>
      <h5>Otty </h5>
    </div>
  </li>
  <li class="span6">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("4.jpg")%>
      <h5>Otty </h5>
    </div>
  </li>
</ul>
